body {
    background-color:#F0F0F0;
    text-align:center;
}

#visualisation{
    background-color:white;
}

#annotationSet{
    background-color:white;
}

p{
    font-family: "Times New Roman";
}

#collections{
    background-color:#33FF33;
}

#collectionsDetails{
    background-color:#3399FF;
}

#legende{
    background-color:#660099;
}

#natureMonnaie{
    background-color:#CC33FF;
}

#periode{
    background-color:#CC0099;
}

#periodeEmission{
    background-color:#FF3366;
}

#tresors{
    background-color:#00FFFF;
}

#tresorsDetails{
    background-color:#FF9999;
}

#trouvailles{
    background-color:#FF0066;
}

#trouvaillesDetails{
    background-color:#FF6666;
}

